.galleryModule {

    $imageSize: 80;

    background-color: #fff; padding: 1em 2em;
    border-bottom: 2px solid $colorGrayLight1;
    position: relative;

    > ul {

        padding: 2em 0;
        display: flex;
        margin: 0 -0.5em;
        flex-wrap: wrap;

        > li {

            border-bottom: 1px solid $colorGrayLight1;
            box-sizing: border-box;
            padding: 0.5em;
            border: 0;

        }

    }

    @include mediaMinWidth($breakpointMedium) {

        border-radius: 0.4em;

    }

    .imageCont {

        position: relative;
        width: em($imageSize,10);
        @include imgRatio(80/54);

        > img { display: block; width: 100%; }

    }
}
